# 데이터 분석 - Pandas 기초 실습

**주제**
- Pandas 라이브러리
- 데이터프레임과 시리즈
- 데이터 살펴보기
- 데이터 변환하기
- 데이터 요약하기
---

## 숫자세기

medical.csv에는 성인 1만명의 건강검진 데이터이며 데이터는 다음과 같이 구성되어 있습니다.
```
컬럼 명	데이터 소개
BTH_G	연령(그룹)
SBP	수축기 혈압
DBP	연령(그룹)
FBS	공복 혈당
SEX	성별
DIS	고혈압/당뇨병 진료 여부
BMI     체질량 지수
```	

데이터셋을 읽고, 아래 지시사항을 따르세요.

1. 데이터프레임 df의 SEX 컬럼에 숫자로 된 데이터를 변환합니다.
- 1 → 남성
- 2 → 여성

2. 데이터프레임 df의 DIS 컬럼에 숫자로 된 데이터를 변환합니다. 
- 1 → 고혈압/당뇨병 진료내역 있음
- 2 → 고혈압 진료내역 있음
- 3 → 당뇨병 진료내역 있음
- 4 → 고혈압/당뇨병 진료내역 없음
3. 데이터프레임 df의 DIS 컬럼에 들어있는 각 값들이 몇 개씩 저장되어 있는지 출력합니다.

## 콤마가 있는 숫자 처리하기

access_data.csv 에는 한 홈페이지의 접속경로 통계 데이터가 저장되어 있습니다.

```
컬럼 명	데이터 소개	데이터 유형
접속일자	접속한 날짜	object
PC접속수	PC를 통해 홈페이지에 접속한 수	object
모바일접속수	모바일을 통해 홈페이지에 접속한 수	object
```

데이터를 읽고, 아래 지시사항을 따르세요.

1. df(데이터프레임)의 '접속일자' 컬럼의 자료형을 datetime으로 변경합니다.
2. del_comma() 함수를 완성하여 'PC접속수' 와 '모바일접속수' 컬럼의 콤마를 제거합니다. (문자열의 replace를 활용)
  - 매개변수로 받은 문자열에 콤마(,)가 있다면 제거
3. 콤마를 지운 'PC접속수' 와 '모바일접속수' 컬럼의 자료형을 숫자형 자료형(int)으로 변경합니다.
4. df의 'PC접속수' 컬럼과 '모바일접속수' 컬럼을 이용해서 df에 '전체접속수' 컬럼을 추가합니다.

In [ ]:
# 함수를 완성하세요.
def del_comma(data):
    if None:
        pass
    return data

## 서울시 인구수 기반 고령화 정도 분석

seoul_population.csv 파일에 2023년 서울시 지역구별 인구수 데이터가 저장되어 있습니다.

데이터를 읽고 아래 지시사항을 따르세요.

1. 데이터프레임 df에 "노인인구비율" 컬럼을 생성하여 지역구별로 총인구수 대비 노인인구의 비율을 저장합니다. (70대 이상의 인구를 노인 인구라고 가정합니다)
2. 데이터프레임 df에 "고령여부" 컬럼을 생성하고 "노인인구비율" 컬럼값이 0.14 이상이면 O (대문자 o), 0.14 미만이면 X (대문자 x)를 저장합니다.
3. 최종 완성된 데이터프레임을 출력합니다.

## 당뇨 데이터 변환

diabetes.csv에는 환자에 대한 당뇨병 데이터가 저장되어 있습니다.
```
컬럼	의미	설명
Pregnancies	임신 횟수	정수형
Glucose	포도당 부하검사 수치	정수형
BloodPressure	혈압	정수형
SkinThickness	팔 삼두근 뒤쪽의 피하지방 측정값	정수형
Insulin	혈청 인슐린	정수형
BMI	체질량 지수	실수형
DiabetesPedigreeFunction	당뇨 내력 가중치 값	실수형
Age	나이	정수형
Outcome	당뇨여부	1(Yes), 0(No)
```

1. categorize_bmi(bmi) : 비만도 분류하기
bmi에 따른 비만도를 분류합니다.
아래 조건에 맞는 레이블을 return 할 수 있도록 categorize_bmi를 작성합니다.
```
범위	            분류	    레이블
18.5 이하	        저체중	   0
18.5 초과 23.0 이하	 정상	   1
23.0 초과 25.0 이하	 과체중	    2
25.0 초과	        비만	  3
```

2. bmi_to_categorical(data) : 데이터 변환하기
데이터프레임의 BMI 컬럼 데이터를 매개변수로 받아 연속형 데이터를 범주형 데이터(0~3)의 레이블을 가지도록 변환하는 함수를 작성합니다.

In [ ]:
def categorize_bmi(bmi: str) -> int:  
    """비만도를 분류하는 함수입니다."""
    if None :  
        return None
    elif None:  
        return None  
    elif None:  
        return None  
    else:  
        return None

def bmi_to_categorical(data):
    new_series = None
    return new_series

# 데이터를 읽어오세요!
df = None

# df의 BMI Column을 범주형 데이터로 변환하여 저장합니다.
df["BMI"] = bmi_to_categorical(df["BMI"])

# BMI 컬럼을 출력하세요.

## 그룹으로 묶기
아래와 같은 학생들의 성적을 나타낸 데이터 프레임이 주어집니다. 아래 지시사항을 따르세요.

```
인덱스	반	국어성적	수학성적
0	A	100	85
1	B	96	88
2	C	94	91
3	A	92	94
4	B	90	97
5	C	86	100
```

1. 반별 국어성적의 합, 수학성적의 합, 반별 국어성적의 평균, 수학성적의 평균
2. 위 4개의 값을 구하고 출력합니다.

In [ ]:
import pandas as pd 

df = pd.DataFrame(
        {
            "class": ["A", "B", "C", "A", "B", "C"],
            "Korean": [100, 96, 94, 92, 90, 86],
            "Math": [85, 88, 91, 94, 97, 100],
        }
    )

grouped = df.groupby("class")
korean_sum_by_class =

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002200FE047F0>

## 펭귄 데이터 그룹화하기
데이터의 구조는 아래와 같습니다. 아래 데이터를 바탕으로 아래 지시사항을 따르세요.
```
컬럼 명	형식	내용
species	object	펭귄의 종
island	object	펭귄이 관찰된 섬의 이름
bill_length_mm	float64	펭귄 부리의 길이
bill_depth_mm	float64	펭귄 부리의 깊이
flipper_length_mm	float64	펭귄의 지느러미 길이
body_mass_g	float64	펭귄의 체중
sex	object	펭귄의 성별
```

1. penguins.csv 파일을 읽어옵니다.
2. 첫번째 줄에 그룹화할 기준의 컬럼명을 입력받습니다.
  - 그룹화할 컬럼은 최소 한 개에서 최대 두 개까지 입력받습니다.
  - 입력하는 컬럼은 , 로 구분됩니다.
3. 첫 번째 줄에 입력받은 컬럼 명을 기준으로 순서대로 그룹화한 후, 평균을 구하여 출력합니다.
숫자형 자료에 대해서만 출력합니다.
(mean 메서드 사용시 numeric_only 인자에 True를 전달하면 숫자형 자료에 대해서만 출력할 수 있습니다.)

입력 예시 1
```
island
```

출력 예시 1
```
           bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
island                                                                  
Biscoe          44.300000      15.854839         207.709677  4671.774194
Dream           43.762500      18.459375         192.437500  3599.218750
Torgersen       39.133333      17.883333         187.500000  3716.666667
```

입력 예시 2
```
species,island
```

출력 예시 2
```
                     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
species   island                                                                  
Adelie    Biscoe          38.800000      18.255556         188.333333  3627.777778
          Dream           37.520000      18.320000         188.733333  3486.666667
          Torgersen       39.133333      17.883333         187.500000  3716.666667
Chinstrap Dream           49.270588      18.582353         195.705882  3698.529412
Gentoo    Biscoe          46.550000      14.872727         215.636364  5098.863636
```

In [7]:
import pandas as pd
#데이터 셋 읽어오기
df = pd.read_csv('C:/sesac_worksapce/251114/penguins.csv')

#,(콤마)로 입력 분할 -> 분할한 값을 리스트 형태로 group_colums에 저장
group_columns = input().split(',')

#입력받은 group_columns로 그룹화 진행
#group_columns : 리스트 타입 -> 여러개의 컬럼을 기준으로 그룹화 하겠다
grouped = df.groupby(group_columns)
print(grouped.mean(numeric_only=True))

KeyboardInterrupt: Interrupted by user

## 인도 IT 시장 점유율 확인하기
인도에서 스마트폰, 데스크탑, 태블릿PC 점유율을 기록한 csv 파일을 이용하여 csv 파일을 기준에 따라 그룹화하고 특정 인덱스의 최댓값을 구하려고 합니다. 파일 내의 컬럼에 대한 설명은 다음과 같습니다.
```
컬럼 명	형식	내용
Date	object	측정 날짜
Mobile	float64	모바일 시장 점유율
Desktop	float64	데스크탑 시장 점유율
Tablet	float64	태블릿PC 시장 점유율
```
1. india_shares.csv 파일을 읽어옵니다.
2. Date 컬럼을 활용해서 연, 월 데이터를 아래의 컬럼을 만들어서 저장하세요.
  - Year : Date 컬럼의 연에 해당하는 데이터
  - Month : Date 컬럼의 월에 해당하는 데이터
3. 그룹화할 기준의 컬럼 명 하나를 입력받습니다.
4. 불러온 csv 파일을 이용하여 입력받은 컬럼 명을 기준으로 순서대로 그룹화한 후, 평균을 구하여 출력합니다.
5. 숫자형 자료에 대해서만 출력합니다. 
(mean 메서드 사용시 numeric_only 인자에 True를 전달하면 숫자형 자료에 대해서만 출력할 수 있습니다.)

입력 예시
```
Month
```

출력 예시
```
          Mobile    Desktop    Tablet  Year
Month                                      
1      57.332667  42.156667  0.510000  2016
2      56.698000  42.801333  0.501333  2016
3      57.479333  42.007333  0.512667  2016
4      58.248667  41.222000  0.530667  2016
5      58.652667  40.799333  0.546667  2016
6      58.950000  40.497333  0.552000  2016
7      58.965333  40.487333  0.547333  2016
8      59.707333  39.724000  0.567333  2016
9      60.142667  39.306667  0.550667  2016
10     60.892000  38.572667  0.534000  2016
11     61.545333  37.924667  0.530000  2016
12     62.525333  36.951333  0.524667  2016
```

In [11]:
import pandas as pd
df = pd.read_csv('india_shares.csv') # 데이터셋 읽어오기

df['Date'] = pd.to_datetime(df['Date']) # 1. Date 컬럼을 날짜 타입으로 변경

df['Year'] = df['Date'].dt.year # 2. Date 컬럼의 dt 속성으로 연도(year) 속성 추출 후, 새 컬럼 생성
df['Month'] = df['Date'].dt.month # 2. Date 컬럼의 dt 속성으로 월 속성 추출 후 새 컬럼 생성

column = input() # 그룸화 할 컬럼의 이름 입력받기

grouped = df.groupby(column) # 입력 받은 컬럼으로 그룹화
df_mean = grouped.mean(numeric_only=True) # 숫자형 데이터에 대해 평균을 각 그룹마다 전체 컬럼에 대해

print(df_mean)

          Mobile    Desktop    Tablet    Year
Month
1      57.332667  42.156667  0.510000  2016.0
2      56.698000  42.801333  0.501333  2016.0
3      57.479333  42.007333  0.512667  2016.0
4      58.248667  41.222000  0.530667  2016.0
5      58.652667  40.799333  0.546667  2016.0
6      58.950000  40.497333  0.552000  2016.0
7      58.965333  40.487333  0.547333  2016.0
8      59.707333  39.724000  0.567333  2016.0
9      60.142667  39.306667  0.550667  2016.0
10     60.892000  38.572667  0.534000  2016.0
11     61.545333  37.924667  0.530000  2016.0
12     62.525333  36.951333  0.524667  2016.0